* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.pattern {
    background-image: url(./images/pattern.jpg);
    background-repeat: repeat-x;
    background-size: 120%;
    height: 20vh;
    background-position: center bottom;
}

body {
    background-color: antiquewhite;
    min-height: 100vh;
}

.content-container {
    height: 100%;
    max-width: 800px;
    color: darkred;
    margin: 0 auto;
}

blockquote {
    padding: 60px 0;
}

blockquote footer {
    color: black;
    text-align: right;
    margin-top: 20px;
}

.pattern-top {
    background-position: center top;
}

.pattern-small {
    background-size: 20%;
    height: 10vh;
}

